/* stylelint-disable property-no-unknown */
.link-open:after {
  icon-font: url('../assets/images/icons/link-open.svg');
}

.search-icon:after {
  icon-font: url('../assets/images/icons/search-icon.svg');
}

.icon-filter:after {
  icon-font: url('../assets/images/icons/icon-filter.svg');
}

.arrow-right:after {
  icon-font: url('../assets/images/icons/arrow-right.svg');
}
